/***********************************/
/*********** Font styles ***********/
/***********************************/

@font-face{
	font-family: 'Graphik Semibold';
	src: url('../fonts/Graphik-Semibold.otf') format('opentype');
}

@font-face{
	font-family: 'Graphik Regular';
	src: url('../fonts/Graphik-Regular.otf') format('opentype');
}

@font-face{
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova-regular.otf') format('opentype');
}

/***********************************/
/********* General styles **********/
/***********************************/

body {
	font-family: 'Graphik Regular', 'Proxima Nova', arial, sans-serif;
	font-weight: 400;
    color: #000000;
    letter-spacing: 0.5px;
}

img {
    display: block;
    text-align: center;
    margin: 2rem auto;
}

img.inline {
    display: inline-block;
    margin: 0;
}

video {
    display: block;
    text-align: center;
    margin: 2rem auto;
}

.wy-nav-content {
    background: #FFFFFF;
    max-width: 100%;
    padding: 2rem 6rem;
}

.wy-nav-content p {
    font-size: 0.95rem;
}

.rst-content blockquote {
    margin: 1.7rem 0;
    border-left: 10px solid #F0F2F4;
    padding-left: 0.85rem;
}

.rst-content li blockquote {
    margin: auto;
    line-height: 24px;
    border: none;
}

/* Formats keyboard shortcuts */
.keyboard {
	text-transform: uppercase;
	background-color: #E1E0E0;
	border: 2px solid #FFFFFF;
	box-shadow: 1px 1px 3px grey;
	padding: 3px 5px 0 5px;
	display: inline-block;
	line-height: 1rem;
}

.block {
    font-family: 'Graphik Regular';
    font-size: .95rem;
    line-height: 24px;
    border-left: solid #ddd 5px;
    padding-left: 25px;
    margin: 25px;
}

/***********************************/
/******** Headings styles **********/
/***********************************/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Graphik Semibold', Helvetica, sans-serif;
}

h1 {
    text-align: center;
    letter-spacing: -1.5px;
    font-size: 3.25rem;
}

h2 {
    font-size: 2.55rem;
	border-top: solid #c7cccb 1px;
	padding-top: 10px;
}

h3 {
	font-size: 28px;
}

h4 {
    font-family: 'Graphik Regular';
	font-size: 1.03rem;
}

h5 {
	font-size: 16px;
}



/***********************************/
/*********** Link styles ***********/
/***********************************/

.wy-nav-content a {
    color: #009ee0;
}

.wy-nav-content a:hover {
    color: #009ee0;
}

.wy-nav-content a:visited {
    color: #009ee0;
}

/***********************************/
/******* Breadcrumbs styles ********/
/***********************************/

.wy-breadcrumbs {
    font-size: 0.85rem;
}

.rst-content .wy-breadcrumbs li {
    font-size: 0.85rem;
}

/***********************************/
/********** Search styles **********/
/***********************************/

.rst-content .highlighted {
    background: #ffed00;
    font-weight: normal;
    padding: 0 2px;
}

/***********************************/
/*********** Note styles ***********/
/***********************************/

blockquote div > blockquote div > blockquote div > blockquote div > blockquote> div {
    margin-left: -118px;
    margin-bottom: 24px;
    border-top: 30px solid #6AB0DE;
    background: #E7F2FA;
    padding: 15px;
}

.rst-content .note {
    max-width: 90%;
    margin: 20px auto;
}

.note p {
    padding: 5px;
}

/***********************************/
/*********** Nav styles ************/
/***********************************/

.wy-side-nav-search {
    background-color: #000000;
    padding: 1rem 2rem;
}

.wy-side-nav-search a {
    color: #FFFFFF;
    font-size: .9rem;
}

.wy-side-nav-search > a:hover, .wy-side-nav-search .wy-dropdown > a:hover {
    background: none;
}

.wy-side-nav-search input[type=text] {
    width: 90%;
    border-radius: 0;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.wy-nav-side {
    background: #000000;
}

.wy-menu-vertical a {
    color: #FFFFFF;
}

.wy-menu-vertical a:hover {
    color: #000000;
    background-color: #b7c8b9;
}

.wy-menu-vertical li.current a {
    background-color: rgba(241, 243, 238);
    padding: .4045em 1em .4045em 1.618em;
    border-right: none;

}

.wy-menu-vertical li.current a:hover {
    background-color: #d8e1d9;
}

.wy-menu-vertical li.toctree-l2 a {
    padding: .4045em .5em .4045em 2.427em;
}

.wy-menu-vertical li.toctree-l2.current > a {
    background-color: rgba(241, 243, 238);
}

.wy-menu-vertical li.toctree-l2.current > a:hover {
    background-color: #d8e1d9;
}

.wy-menu-vertical li.toctree-l3 {
    font-size: 0.95rem;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
    background-color: rgba(241, 243, 238);
    padding: .4045em .5em .4045em 4.045em;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a:hover {
    background-color: #d8e1d9;
    padding: .4045em .5em .4045em 4.045em;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a {
    background-color: rgba(241, 243, 238);
    padding: .4045em 1em .4045em 5.663em;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a:hover {
    background-color: #d8e1d9;
    padding: .4045em 1em .4045em 5.663em;
}

.wy-menu-vertical li.toctree-l4 {
    font-size: 1rem;
}


/***********************************/
/*********** List styles ***********/
/***********************************/

.rst-content li {
    margin-bottom: .2rem;
    font-size: 0.95rem;
}

.wy-plain-list-decimal li, .rst-content .section ol li, .rst-content ol.arabic li, article ol li {
    margin-left: 40px;
}

.wy-plain-list-disc li, .rst-content .section ul li, .rst-content .toctree-wrapper ul li, article ul li {
    margin-left: 40px;
}

.wy-plain-list-disc li ul, .rst-content .section ul li ul, .rst-content .toctree-wrapper ul li ul, article ul li ul {
    margin-top: 5px;
    margin-bottom: 10px;
}

.wy-plain-list-decimal li ul, .rst-content .section ol li ul, .rst-content ol.arabic li ul, article ol li ul {
    margin-top: 5px;
    margin-bottom: 10px;
}

.rst-content .section ol li ol {
    margin-bottom: 0px;
}


/***********************************/
/********** Table styles ***********/
/***********************************/

table {
	border: solid #d8e1d9 1px;
	margin: auto;
	width: 90%;
}

th {
	font-family: 'Graphik Regular';
    border-color: #d8e1d9;
    background: #d8e1d9;
}

td {
	border: solid #c7cccb 1px;
}

li table {
    padding-bottom: 200px;
}

.center-cell td {
    border: none;
    text-align: center;
}

.center-cell td img {
    margin-top: 0px;
}

.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table thead, .rst-content table.docutils thead, .rst-content table.field-list thead {
    vertical-align: middle;
}

.wy-table td, .rst-content table.docutils td, .rst-content table.field-list td, .wy-table th, .rst-content table.docutils th, .rst-content table.field-list th {
    padding: 12px 20px;
    line-height: 1.5;
}

.rst-content table.list-table td {
    vertical-align: top;
}

.rst-content table.docutils th p {
    margin-bottom: 0;
}


.rst-content table.docutils td p {
    font-size: .89rem;
    line-height: 24px;
}

.rst-content table.docutils td ul li, .rst-content table.docutils td ol li {
    font-size: .89rem;
}

.wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td, .rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
    background: #FFFFFF;
}


/***********************************/
/********** Code styles ************/
/***********************************/
code {
    font-family: Consolas;
    font-size: 95% !important;
}

pre code {
    font-size: 0.8rem;
    line-height: 1.1rem;
}

pre span {
    font-size: 0.9rem;
}

.rst-content code.literal {
    font-family: Consolas;
    color: #000000;

}

/***********************************/
/****** Versions.html styles *******/
/***********************************/
.rst-versions.shift-up {
    overflow-y:visible;
}
