name: Master CI Build & Deploy

on:
  push:
    branches:
      - master

jobs:
  build_en_docs:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: [3.7]

    name: Build and deploy english docs
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install git+https://github.com/vircadia/video.git
        pip install -U Sphinx==2.4.4
        pip install --upgrade myst-parser
        pip install sphinx_rtd_theme
    - name: Build documentation
      shell: bash
      run: |
        cd docs
        make html
        mkdir -p build-archives
        cd build/html/
        tar -czvf ../../build-archives/build-en.tar.gz *
    - name: Upload documentation
      uses: JulianGro/SFTP-Deploy-Action@v1.7
      with:
        username: 'docs-vircadia-com'
        server: '192.64.118.213'
        ssh_password: ${{ secrets.GHA_DOCS_SSH_PASS }}
        local_path: 'docs/build-archives/*'
        remote_path: '/httpdocs/'
        args: '-o ConnectTimeout=5'
    - name: Deploy english documentation
      shell: bash
      run: |
        sshpass -p "${{ secrets.GHA_DOCS_SSH_PASS }}" -o StrictHostKeyChecking=no docs-vircadia-com@192.64.118.213 "tar -xvzf /httpdocs/build-en.tar.gz -C /httpdocs/ && rm /httpdocs/build-en.tar.gz"

  build_translated_docs:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: [3.7]

    name: Build and deploy translated docs
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install git+https://github.com/vircadia/video.git
        pip install -U Sphinx==2.4.4
        pip install --upgrade myst-parser
        pip install sphinx_rtd_theme
    - name: Build german documentation
      shell: bash
      run: |
        cd docs
        make BUILDDIR=build-de SPHINXOPTS="-Dlanguage=de" html
        mkdir -p build-archives
        cd build-de/html/
        tar -czvf ../../build-archives/build-de.tar.gz *
    - name: Build french documentation
      shell: bash
      run: |
        cd docs
        make BUILDDIR=build-fr SPHINXOPTS="-Dlanguage=fr" html
        mkdir -p build-archives
        cd build-fr/html/
        tar -czvf ../../build-archives/build-fr.tar.gz *
    - name: Build japanese documentation
      shell: bash
      run: |
        cd docs
        make BUILDDIR=build-jp SPHINXOPTS="-Dlanguage=jp" html
        mkdir -p build-archives
        cd build-jp/html/
        tar -czvf ../../build-archives/build-jp.tar.gz *
    - name: Build spanish documentation
      shell: bash
      run: |
        cd docs
        make BUILDDIR=build-es SPHINXOPTS="-Dlanguage=es" html
        mkdir -p build-archives
        cd build-es/html/
        tar -czvf ../../build-archives/build-es.tar.gz *
    - name: Upload translated documentation
      uses: JulianGro/SFTP-Deploy-Action@v1.7
      with:
        username: 'docs-vircadia-com'
        server: '192.64.118.213'
        ssh_password: ${{ secrets.GHA_DOCS_SSH_PASS }}
        local_path: 'docs/build-archives/*'
        remote_path: '/httpdocs/'
        args: '-o ConnectTimeout=5'
    - name: Deploy german documentation
      shell: bash
      run: |
        sshpass -p "${{ secrets.GHA_DOCS_SSH_PASS }}" -o StrictHostKeyChecking=no docs-vircadia-com@192.64.118.213 "mkdir -p /httpdocs/de/ && tar -xvzf /httpdocs/build-de.tar.gz -C /httpdocs/de/ && rm /httpdocs/build-de.tar.gz"
    - name: Deploy french documentation
      shell: bash
      run: |
        sshpass -p "${{ secrets.GHA_DOCS_SSH_PASS }}" -o StrictHostKeyChecking=no docs-vircadia-com@192.64.118.213 "mkdir -p /httpdocs/fr/ && tar -xvzf /httpdocs/build-fr.tar.gz -C /httpdocs/fr/ && rm /httpdocs/build-fr.tar.gz"
    - name: Deploy japanese documentation
      shell: bash
      run: |
        sshpass -p "${{ secrets.GHA_DOCS_SSH_PASS }}" -o StrictHostKeyChecking=no docs-vircadia-com@192.64.118.213 "mkdir -p /httpdocs/jp/ && tar -xvzf /httpdocs/build-jp.tar.gz -C /httpdocs/jp/ && rm /httpdocs/build-jp.tar.gz"
    - name: Deploy spanish documentation
      shell: bash
      run: |
        sshpass -p "${{ secrets.GHA_DOCS_SSH_PASS }}" -o StrictHostKeyChecking=no docs-vircadia-com@192.64.118.213 "mkdir -p /httpdocs/es/ && tar -xvzf /httpdocs/build-es.tar.gz -C /httpdocs/es/ && rm /httpdocs/build-es.tar.gz"
